.mouse-pos-details {
  flex: 0 0 var(150px);
  position: sticky;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(249, 249, 249);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 150px;
  padding: 5px;
  z-index: 1;
}